/bootstrap-4.blade.php
/calendar.blade.php
/chart-apex.blade.php
/chart-d3.blade.php
/chart-flot.blade.php
/chart-js.blade.php
/chart-morris.blade.php
/dashboard-v1.blade.php
/dashboard-v2.blade.php
/dashboard-v3.blade.php
/email-compose.blade.php
/email-detail.blade.php
/email-inbox.blade.php
/email-template-newsletter.blade.php
/email-template-system.blade.php
/extra-coming-soon.blade.php
/extra-error-page.blade.php
/extra-invoice.blade.php
/extra-profile.blade.php
/extra-search-result.blade.php
/extra-timeline.blade.php
/form-dropzone.blade.php
/form-elements.blade.php
/form-multiple-file-upload.blade.php
/form-plugins.blade.php
/form-slider-switcher.blade.php
/form-summernote.blade.php
/form-validation.blade.php
/form-wizards.blade.php
/form-wizards-validation.blade.php
/form-wysiwyg.blade.php
/form-x-editable.blade.php
/gallery-v1.blade.php
/gallery-v2.blade.php
/helper-css.blade.php
/login-v1.blade.php
/login-v2.blade.php
/login-v3.blade.php
/map-google.blade.php
/map-vector.blade.php
/page-blank.blade.php
/page-boxed-layout-with-mixed-menu.blade.php
/page-full-height.blade.php
/page-with-boxed-layout.blade.php
/page-with-footer.blade.php
/page-with-light-sidebar.blade.php
/page-with-mega-menu.blade.php
/page-with-minified-sidebar.blade.php
/page-with-mixed-menu.blade.php
/page-with-right-sidebar.blade.php
/page-with-top-menu.blade.php
/page-with-transparent-sidebar.blade.php
/page-with-two-sidebar.blade.php
/page-with-wide-sidebar.blade.php
/page-without-sidebar.blade.php
/register-v3.blade.php
/table-basic.blade.php
/table-manage-autofill.blade.php
/table-manage-buttons.blade.php
/table-manage-colreorder.blade.php
/table-manage-combine.blade.php
/table-manage-default.blade.php
/table-manage-fixed-column.blade.php
/table-manage-fixed-header.blade.php
/table-manage-keytable.blade.php
/table-manage-responsive.blade.php
/table-manage-rowreorder.blade.php
/table-manage-scroller.blade.php
/table-manage-select.blade.php
/ui-buttons.blade.php
/ui-general.blade.php
/ui-icons.blade.php
/ui-intro-js.blade.php
/ui-ionicons.blade.php
/ui-language-bar-icon.blade.php
/ui-media-object.blade.php
/ui-modal-notification.blade.php
/ui-simple-line-icons.blade.php
/ui-social-buttons.blade.php
/ui-tabs-accordions.blade.php
/ui-tree-view.blade.php
/ui-typography.blade.php
/ui-unlimited-nav-tabs.blade.php
/ui-widget-boxes.blade.php
/widget.blade.php
